/* _variables.scss */

/* Light Mode Colors */
$color-light-background: #EBEAFF;
$color-light-border: #4c76ff;
$color-light-text: #2B3467;

/* Dark Mode Colors */
$color-dark-background: #1D2B53;
$color-dark-border: #FF004D;
$color-dark-text: #FAEF5D;

/* Font Families */
$font-primary: "Fira Code", serif;   // Primary font (sans-serif)
$font-secondary: "Bangers", serif;   // Secondary font (serif)
$font-fancy: "Borel", serif;   // Secondary font (serif)
$font-mono: 'Courier New', monospace; // Monospace font for code
