@use "../base/variables";

body.dark-mode{
    #homepage{
        .hero{
            &::after{
                border-left: 80vw solid variables.$color-dark-border;
            }

            .content--left{
                h1{
                    color: variables.$color-dark-text;
                }

                h2{
                    color: variables.$color-dark-border;
                }

                p::after{
                    background: variables.$color-dark-border;
                }
            }

            .content--head{
                .head-wrapper{
                    .image-wrapper{
                        border: 5px solid variables.$color-dark-border;
                    }
                }
                .chat-bubble{
                    
                    .inner{
                        background: variables.$color-light-background;
                        border-color: variables.$color-dark-border;

                        p{
                            color: variables.$color-light-text;
                        }

                        &::after{
                            border-right: 50px solid variables.$color-dark-border;
                        }
                    }
                }
            }
        }

        .introduction{
            background: variables.$color-dark-border;
            &::after{
                border-left-color: variables.$color-dark-border;
            }

            &::before{
                border-left-color: variables.$color-dark-background;
            }
        }
    }
}

#homepage{
    overflow: hidden;
    padding-top: 112px;
    box-sizing: border-box;
    
    .hero{
        height: calc(100vh - 112px);
        width: 100vw;
        overflow: hidden;
        display: flex;
        align-items: flex-end;
        
        

        .image-wrapper.background{
            opacity: 0.7;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            mix-blend-mode: multiply;
            height: 100%;
            width: 100%;
            overflow: hidden;
            display: flex;

            img{
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }

        .wrap{
            width: 100%;
            max-width: 1400px;
            margin: 0 auto;
            padding: 1rem 2rem;
            display: flex;

            .content--left{
                max-width: 500px;
                padding-bottom: 250px;

                h1{
                    font-family: variables.$font-secondary;
                    font-size: 4rem;
                    color: variables.$color-light-text;
                    padding-bottom: 1.5rem;
                }

                h2{
                    font-family: variables.$font-fancy;
                    font-size: 3rem;
                    color: variables.$color-light-border;
                    font-weight: bold;
                }

                p{
                    font-size: 1.35rem;
                    padding-left: 40px;
                    position: relative;
                    &::after{
                        content: "";
                        height: 92%;
                        width: 10px;
                        background: variables.$color-light-border;
                        position: absolute;
                        left: 0; 
                        top: 50%;
                        transform: translateY(-50%);
                    }
                }
            }


            .content--head{
                max-width: 650px;
                margin-left: auto;
                margin-top: -100px;

                .head-wrapper{
                    display: flex;
                    flex-direction: row-reverse;
                    align-items: flex-end;
                }

                .image-wrapper{
                    height: 150px;
                    width: 150px;
                    display: flex;
                    border: 5px solid variables.$color-light-border;
                    border-radius: 100%;
                    flex-shrink: 0;
                    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.06);

                    img{
                        object-fit: cover;
                        height: 100%;
                        width: 100%;
                        border-radius: 100%;
                        object-position: top;
                    }
                }

                .chat-bubble{
                    padding-bottom: 122px;

                    .inner{
                        padding: 2rem;
                        background: variables.$color-dark-background;
                        border-radius: 20px;
                        position: relative;
                         /* Box shadow for depth */
                        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 
                        0 1px 3px rgba(0, 0, 0, 0.06);
                        border: 5px solid variables.$color-light-border;

                        &::after{
                            content: "";
                            border-left: 50px solid transparent;
                            border-right: 50px solid variables.$color-light-border;
                            border-top: 50px solid transparent;
                            position: absolute;
                            bottom: -10px;
                            right: -10px;
                            z-index: 1;
                        }

                        p{
                            color: variables.$color-dark-text;
                            font-size: 1.75rem;
                            font-family: variables.$font-primary;
                        }
                    }
                }
            }

        }
    }

    .introduction{
        background: variables.$color-light-border;
        padding: 50px 0 170px;
        position: relative;

        .wrap{
            max-width: 1440px;
            align-items: center;
        }

        &::after{
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 0;
            height: 0;
            border-left: 100vw solid variables.$color-light-border;
            border-right: 50vw solid transparent;
            border-top: 100px solid transparent; /* Adjust height and color */
            transform: translateY(-100%);
        }

        &::before{
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 0;
            height: 0;
            border-left: 100vw solid variables.$color-light-background;
            border-right: 50vw solid transparent;
            border-top: 100px solid transparent /* Adjust height and color */
        }

        .content--left{
            padding-left: 4rem;
            max-width: 550px;
    
            h2{
                font-family: variables.$font-techno;
                font-size: 3rem;
                color: variables.$color-light-background;
                font-weight: bold;
                margin-bottom: 15px;
            }
    
            p{
                font-size: 1.5rem;
                font-weight: bold;
                position: relative;
            }
        }
    }
}


