@use "../base/variables";

body.dark-mode{
    #homepage{
        .hero{
            &::after{
                border-left: 80vw solid variables.$color-dark-border;
            }

            .content--left{
                h1{
                    color: variables.$color-dark-text;
                }

                h2{
                    color: variables.$color-dark-border;
                }

                p::after{
                    background: variables.$color-dark-border;
                }
            }

            .content--head{
                .head-wrapper{
                    .image-wrapper{
                        border: 5px solid variables.$color-dark-border;
                    }
                }
                .chat-bubble{
                    
                    .inner{
                        background: variables.$color-light-background;
                        border-color: variables.$color-dark-border;

                        p{
                            color: variables.$color-light-text;
                        }

                        &::after{
                            border-right: 50px solid variables.$color-dark-border;
                        }
                    }
                }
            }
        }

        .introduction{
            background: variables.$color-dark-border;
            &::after{
                border-left-color: variables.$color-dark-border;
            }

            &::before{
                border-left-color: variables.$color-dark-background;
            }
        }

        .principles{
            .wrap .content--left{
                h2{
                    border-color: variables.$color-dark-border;
                }

                *{
                    color: variables.$color-light-background;
                }
            }

            .wrap .content--repeater .content-wrapper{
                border-color: variables.$color-dark-text;

                *{
                    color: variables.$color-light-background;
                }
            }

            .svg-container.svg--light{
                display: none;
            }

            .svg-container.svg--dark{
                display: block;
            }
        }

        .journey-wrapper{
            background: variables.$color-dark-border;

            &::after{
                border-left-color: variables.$color-dark-border;
            }

            &::before{
                border-left-color: variables.$color-dark-background;
            }

            .content--left{
                h2{
                    color: variables.$color-light-background;
                }

                p{
                    color: variables.$color-dark-background;
                }
            }

            .content--repeater .std-content{
                background: variables.$color-dark-background;
                border-color: variables.$color-dark-text;

                h2{
                    color: variables.$color-dark-text;
                }

                p{
                    color: variables.$color-dark-text;
                }
            }
        }
    }
}

#homepage{
    overflow: hidden;
    padding-top: 112px;
    box-sizing: border-box;
    
    .hero{
        height: calc(100vh - 112px);
        width: 100vw;
        overflow: hidden;
        display: flex;
        align-items: flex-end;

        .image-wrapper.background{
            opacity: 0.7;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            mix-blend-mode: multiply;
            height: 100%;
            width: 100%;
            overflow: hidden;
            display: flex;

            img{
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }

        .wrap{
            .content--left{
                max-width: 500px;
                padding-bottom: 250px;

                h1{
                    font-family: variables.$font-secondary;
                    font-size: 4rem;
                    color: variables.$color-light-text;
                    padding-bottom: 1.5rem;
                    text-align: right;
                }

                h2{
                    font-family: variables.$font-fancy;
                    font-size: 2rem;
                    text-align: right;
                    color: variables.$color-light-border;
                    font-weight: bold;
                }

                p{
                    font-size: 1.35rem;
                    padding-right: 40px;
                    position: relative;
                    text-align: right;
                    &::after{
                        content: "";
                        height: 92%;
                        width: 10px;
                        background: variables.$color-light-border;
                        position: absolute;
                        right: 0; 
                        top: 50%;
                        transform: translateY(-50%);
                    }
                }
            }


            .content--head{
                max-width: 650px;
                margin-left: auto;
                margin-top: -100px;

                .head-wrapper{
                    display: flex;
                    flex-direction: row-reverse;
                    align-items: flex-end;
                }

                .image-wrapper{
                    height: 150px;
                    width: 150px;
                    display: flex;
                    border: 5px solid variables.$color-light-border;
                    border-radius: 100%;
                    flex-shrink: 0;
                    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.06);
                    margin-left: -2rem;
                    
                    img{
                        object-fit: cover;
                        height: 100%;
                        width: 100%;
                        border-radius: 100%;
                        object-position: top;
                    }
                }

                .chat-bubble{
                    padding-bottom: 122px;

                    .inner{
                        padding: 2rem;
                        background: variables.$color-dark-background;
                        border-radius: 20px;
                        position: relative;
                         /* Box shadow for depth */
                        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 
                        0 1px 3px rgba(0, 0, 0, 0.06);
                        border: 5px solid variables.$color-light-border;

                        &::after{
                            content: "";
                            border-left: 50px solid transparent;
                            border-right: 50px solid variables.$color-light-border;
                            border-top: 50px solid transparent;
                            position: absolute;
                            bottom: -10px;
                            right: -10px;
                            z-index: 1;
                        }

                        p{
                            color: variables.$color-dark-text;
                            font-size: 1.75rem;
                            font-family: variables.$font-primary;
                        }
                    }
                }
            }

        }
    }

    .introduction{
        background: variables.$color-light-border;
        padding: 50px 0 170px;
        position: relative;

        .wrap{
            max-width: 1440px;
            align-items: center;
        }

        &::after{
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 0;
            height: 0;
            border-left: 100vw solid variables.$color-light-border;
            border-right: 50vw solid transparent;
            border-top: 100px solid transparent; /* Adjust height and color */
            transform: translateY(-100%);
        }

        &::before{
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 0;
            height: 0;
            border-left: 100vw solid variables.$color-light-background;
            border-right: 50vw solid transparent;
            border-top: 100px solid transparent /* Adjust height and color */
        }

        .content--left{
            padding-left: 4rem;
            max-width: 550px;
    
            h2{
                font-family: variables.$font-techno;
                font-size: 3rem;
                color: variables.$color-light-background;
                font-weight: bold;
                margin-bottom: 15px;
            }
    
            p{
                font-size: 1.5rem;
                font-weight: bold;
                position: relative;
            }
        }
    }

    .principles{
        padding-top: 100px;
        padding-bottom: 100px;

        .svg-container{
            margin-top: -300px;
            margin-left: 5rem;
            width: 500px;
            // margin-left: auto;

            &.svg--dark{
                display: none;
            }

            svg{
                width: 100%;
            }
        }

        .wrap{
            .content--left{
                text-align: right;
                margin-right: 9rem;
                flex-shrink: 0;

                h2{
                    padding-top: 2rem;
                    padding-bottom: 1rem;
                    border-bottom: 5px solid variables.$color-light-border;
                    margin-bottom: 1rem;
                    font-size: 4rem;
                    font-family: variables.$font-secondary;
                }

                h3{
                    margin-top: 2rem;
                    font-family: variables.$font-fancy;
                }
            }

            .content--repeater{
                display: flex;
                gap: 2rem;
                max-width: 1250px;
                margin: 0 auto;


                h3{
                    margin-bottom: 1rem;
                }

                .content-wrapper{
                    padding-bottom: 2rem;
                    padding-top: 2rem;
                    border-bottom: 5px solid variables.$color-light-border;
                    border-top: 5px solid variables.$color-light-border;
                    width: 100%;

                    h3{
                        font-size: 1.75rem;
                        font-weight: bold;
                    }
                    p{
                        font-size: 1.25rem;
                    }
                }
            }
        }
    }

    .journey-wrapper{
        background: variables.$color-light-border;
        padding: 175px 0 300px 0;
        position: relative;

        &::after{
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 0;
            height: 0;
            border-left: 100vw solid variables.$color-light-border;
            border-right: 50vw solid transparent;
            border-top: 100px solid transparent; /* Adjust height and color */
            transform: translateY(-100%);
        }

        &::before{
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 0;
            height: 0;
            border-left: 100vw solid variables.$color-light-background;
            border-right: 50vw solid transparent;
            border-top: 100px solid transparent /* Adjust height and color */
        }

        .sun--svg{
            position: absolute;
            top: -3rem;
            left: 2rem;
            width: 200px;
            z-index: 1;
            margin: 0 auto 50px;
        }

        .timeline--svg{
            width: 100%;
            position: absolute;
            bottom: -100px;
            right: 0;
            left: 2rem;
            z-index: 1;
            display: flex;

            svg{
                margin-left: auto;
                width: 500px;
                height: 500px;
            }
        }

        .content--left{
            max-width: 500px;
            padding-right: 5rem;

            h2{
                font-family: variables.$font-techno;
                font-size: 3rem;
                color: variables.$color-light-background;
                font-weight: bold;
                margin-bottom: 15px;
                padding-top: 24px;
            }

            p{
                font-size: 1.5rem;
                font-weight: bold;
                position: relative;
            }
        }

        .content--repeater{
            position: relative;
            z-index: 1;
            display: flex;
            gap: 2rem;
            max-width: 1250px;
            margin: 0 auto;
            flex-flow: row wrap;

            .std-content{
                background: variables.$color-light-background;
                border-radius: 0px;
                padding: 3rem 2rem;
                border-bottom: 5px solid variables.$color-light-border;
                border-top: 5px solid variables.$color-light-border;
                width: 100%;
                max-width: 550px;

                h2{
                    font-size: 1.75rem;
                    font-weight: bold;
                    margin-bottom: 1.5rem;
                    font-family: variables.$font-primary;
                }

                p{
                    font-size: 1.5rem;
                }
            }
        }
    }
}


