@use "../base/variables";

body.home{
    header{
        .logo-wrapper{
            display: none;
        }
    }
}

/* Header Small Styles - For when the header goes in small moode */
body.small header .right-menu-wrapper{
    width: 68px;
}

header{
    position: fixed;
    width: 100%;
    padding: 1rem 2rem;
    top: 0;
    z-index: 10;

    #darkModeToggle{
        position: absolute;
        right: 2rem;
        top: 100%;
        width: 64px;
        height: 64px;
        border-radius: 100%;
        background: variables.$color-dark-background;
        color: variables.$color-dark-text;
        font-weight: bold;
        border: 5px solid variables.$color-dark-border;
        font-size: 0;
        overflow: hidden;
        transition: all 0.3s ease;

        &::before{
            content: "";
            position: absolute;
            height: 50%;
            width: 100%;
            background: variables.$color-light-background;
            top: 50%;
            left: 50%;
            transform: translate(-50%, 0);
        }

        &:not(.dark-mode){
            transform: rotate(-180deg);
            border: 5px solid variables.$color-light-border;
        }

    }

    .wrap{
        display: flex;
        align-items: center;
        // border-bottom: 3px solid variables.$color-light-text;

        .logo-wrapper{
            margin-right: auto;
            
            a{
                display: flex;
                gap: 5px;
                align-items: end;
                flex-direction: column;
            }
            
            .text-wrapper{
                max-width: 300px;
                display: flex;
                align-items: flex-end;
                gap: 5px;
                flex-direction: column;

                h1{
                    font-weight: bold;
                    margin: 0;
                    color: variables.$color-light-border;
                    font-family: variables.$font-secondary;
                    font-size: 2.5rem;
                }
    
                p.tagline{
                    // text-transform: uppercase;
                    margin: 0;
                    font-family: variables.$font-fancy;
                    font-size: 1.1rem;
                }
            }
            
            svg{
                display: none;

                rect{
                    stroke: variables.$color-light-text;
                }

                path{
                    stroke: variables.$color-light-border
                }
            }
        }
        
        .right-menu-wrapper{
            margin-left: auto;
            position: relative;

            #menu-expand{
                position: absolute;
                height: 64px;
                width: 64px;
                top: 50%;
                border: 5px solid  variables.$color-light-border;
                border-radius: 100%;
                background: variables.$color-light-text;
                transform: translateY(-50%);
                right: 2.5px;

                svg{
                    width: 48px;
                    height: 48px;
    
                    path{
                        color: variables.$color-light-background;
                    }
                }
            }

            nav{
                border-radius: 40px;
                overflow: hidden;
                box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.06);
                border: 5px solid variables.$color-light-border;
            }

            ul{
                display: flex;
                align-items: center;
                
                li{
                    color: variables.$color-light-background;
                    background: variables.$color-light-border;
                    font-weight: bold;

                    &:last-of-type{
                        padding-right: 40px;
                    }

                    &.current-menu-item {
                        background: variables.$color-light-text;
                    }

                    &:hover{
                        background: variables.$color-light-text;
                    }

                    a{
                        padding: 0.5rem 5rem;
                        text-transform: uppercase;
                        font-family: variables.$font-primary;
                        font-size: 1.75rem;
                        display: block;
                        letter-spacing: 0.10em;
                    }
                }
            }
        }
    }
}

body.dark-mode{
    header{
        .wrap{
            // border-bottom: 5px solid variables.$color-dark-text;

            .logo-wrapper{
                h1{
                    color: variables.$color-dark-border;
                }
                svg{
                    rect{
                        stroke: variables.$color-dark-text;
                    }
    
                    path{
                        stroke: variables.$color-dark-border;
                    }  
                }
            }

            .right-menu-wrapper{

                #menu-expand{
                    border-color: variables.$color-dark-text;
                }
                
                nav{
                    border: 5px solid variables.$color-dark-border;
                    li{
                        background: variables.$color-dark-border;

                        &.current-menu-item {
                            background: variables.$color-dark-text;
                            color: variables.$color-dark-background;
                        }

                        &:hover{
                            background: variables.$color-dark-text;
                            color: variables.$color-dark-background;
                        }
                    }
                }
            }
        }
    }
}