@use "../base/variables";

body{
    background: variables.$color-light-background;
    color: variables.$color-light-text;

    &.dark-mode{
        background: variables.$color-dark-background;
        color: variables.$color-dark-text;

        h1,h2,h3,h4,h5,h6{
            color: variables.$color-dark-border;
        }

        p{
            color: variables.$color-dark-text;
        }

        
    }
}